@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

/* Home */

* { 
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.divHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98vw;
    height: 85px;
}

.logoDoHeader{
    width: 59px;
  
}

.navLinksHeader{
    display: flex;
    justify-content: space-evenly;
    width: 550px;
}

.navLinksHeader a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}


.linkLoginHeader{
    background-color: #c4c4c4;
    width: 84px;
    border: solid #00DD9B;
    left: 668px;
}

.linkLoginHeader a{
    margin-left: 20px;
}

.bannerHome{
    background-image: url(/src//assets/img/Frame5.png);
    height: 500px;
}

.tituloBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

}

.tituloBanner h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color:white;
    margin-top: 255px;
}

.tituloBanner hr{
    width: 355px;
    height: 1px;
    border: 2px solid #ffff;
}

.descricao{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
   
}

.ContainerContatos{
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.contatos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contatos h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: white;
}

.contatos hr{
    width: 299px;
    height: 0px;
    color: black;
    border: 2px solid;
    margin-bottom: 15px;
    margin-top: 20px;
}

.divEmail{
    width: 300px;
    height: 41px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    width: 98vw;
    height: 50px;
}

.containerFooter{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerFooter p{
    color: #808080;
    font-family: Roboto;
}


/* Login */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.BannerLogin{
    display: flex;   
    
}

.imgLogin{
    height: 100vh;
}

.containerLogin{
    width: 50vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.fundoLogin{
    width: auto;
}

.partLogin{
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.partLogin p{
    color: #808080;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.inputsLogin{
    border: 0;
    width: 259px;
    height: 40px;
    text-align: center;
    padding: 10px;
    background: white;
    color: #808080;
    text-align: left;
}

.botaoLogin{
    background-color: #23DCB0;
    color: #fff;
    box-shadow: 2px 2px 5px 0px rgb(184 184 184);
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    width: 70%;
    height: 40px;
}



/* ConsultaAdm */

.containerTudo{
    align-items: center;
}

.listagem{
    display: flex;
    align-self: center;
}

.containerTudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCadastroLista{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10vh;

  
}

.containerCadastroLista h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

/* .inputsTabela{
    display: flex;
    justify-content: space-between;
    width: ;
} */



.botaoCadastrar{
    background-color: #23DCB0;
    color: #fff;
    box-shadow: 2px 2px 5px 0px rgb(184 184 184);
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    width: 70%;
    height: 40px;
}

#tabelaListagem{
    width: 200px;
    height: 300px;
    font-size: 12px;
    text-align: left;
    border: 1px solid #f6f6f6;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1EE7BE;
    color: white;
    border-radius: 12px;

}

#tabelaListagem li{
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
